//base
@import "base/vars";
@import "base/reset";
@import "base/utilities";
//components
@import "components/footer";
@import "components/navbar";
@import "components/maps";
//layouts
@import "layouts/index";
@import "layouts/contacto";
@import "layouts/nosotros";
@import "./layouts/productos";
@import "layouts/tipsgonzalez";






  
























@media (max-width: 760px) {

.header-index{
    height: 50%;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.navindex{
    font-size: 100%;
   
}

.box{
    grid-template-columns: repeat(2, 1fr);
}

.titulo-principal{
    font-size: 32px;
}
}

@media (max-width: 545px){

    .titulo-principal{
    display: none;
}

.box{
    grid-template-columns: repeat(1, 1fr);
}

.parrafo-bienvenida{
    display: none;
}
}

 