/*PAGINA CONTACTO*/
.mapa {
  display: block;
  width: 100%;
  height: auto;
  margin: auto;
}

.input {
  display: block;
  width: 90%;
  height: auto;
  margin: auto;
  padding: 10px;
  margin-bottom: 10px;
}

.contacto {
  color: white;
}